<div name = "nav" >
    <nav class="nav navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Eurasia OJ</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/problem_list.php">Problems</a>
                    </li>

                    <li>
                        <a href="/faq">Q&A</a>
                    </li>

                    <li>
                        <a href="#">Status</a>
                    </li>
                    <li>
                        <a href="#">Rank</a>
                    </li>
                    <li>
                        <a href="#">Competition</a>
                    </li>
                    <li>
                        <a href="#">Homework</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-right">
                    <li class="dropdown">
                        <a href="/login">
                            Sign in
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="/register" >
                            Sign up
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</div>


<br/>